:root {
  --logo-sakundi: url("public/img/SakundiLogo.png");
}

body {
    background: #F4F4F4;
    font-family: 'Gotham', sans-serif;
    overflow: hidden;
}

.container-SignUp {
  display: flex;
  height: 100%;
}

.container-Pages {
  display: flex;
  height: 100%;
  padding: 25px;
}

.container-Dashboards1 {
  height: 10%;
  width: 100%;
  padding: 1px;
}

.container-Dashboards1 a {
  text-decoration: none;
  color: #ffffff;
  font-family: Gotham, sans-serif;
  font-size: 15px;
}

.container-Dashboards2 {
  height: 100%;
  width: 100%;
  padding: 1px;
}

.container-Dashboards2 a {
  text-decoration: none;
  color: #ffffff;
  font-family: Gotham, sans-serif;
  font-size: 15px;
}

.index {
    width: 100vw;
    height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background-color: #09294C;
  color: #fff;
}

.sidebar ul {
  list-style-type: none;
  list-style: none;
  margin-top: 50px;
  margin: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sidebar li {
  margin-right: 10px;
  margin-left: 35px;
  margin-bottom: 20px;
}

.sidebar li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Gotham, sans-serif;
  font-size: 15px;
}

.sidebar li h4 {
  text-decoration: none;
  color: #ffffff;
  font-family: Gotham, sans-serif;
  font-size: 22px;
}

.sidebar li h6 {
  text-decoration: none;
  color: #ffffff;
  font-family: Gotham, sans-serif;
  font-size: 18px;
}

.sidebar li h5 {
  text-decoration: none;
  color: #21E8AA;
  font-family: Gotham, sans-serif;
  font-size: 18px;
  margin-top: 8px;
}

.sidebar li a:hover {
  color: #21E8AA;
}

.rowNodes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.rowNodes > * {
  margin: 100px; /* Espacio entre los elementos */
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.logo-container img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.logo-container h6 {
  margin: 2px;
}

.logo-containerUpgradeAccount {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.logo-containerUpgradeAccount img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.logo-containerUpgradeAccount h6 {
  margin: 2px;
}

.logo-containerLogOut {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  position: absolute;
  bottom: 50px;
}

.logo-containerLogOut img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.logo-containerLogOut h6 {
  margin: 2px;
}

.logo-containerVersion {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  position: absolute;
  bottom: 50px;
}

.logo-containerVersion img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.logo-containerVersion h6 {
  margin: 2px;
}

.masthead {
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url('public/img/SakundiLogo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sakundiLogo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  min-height: 100%;
  max-width: 100%;
  margin-top: 0rem !important;
}

.navbarPages {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 270px;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  color: #A1A1A1;
}

.navbarPages h5 {
  text-decoration: none;
  color: #000000;
  font-family: Gotham, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10%;
  margin-left: 10px;
}

.navbarPages img {
  width: 65px;
  height: 65px;
  margin-top: 20px;
  margin-right: 20px;
}

.navbarPages ul {
  list-style: none;
  margin: 5px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbarPages li {
  margin-left: 10px;
}

.navbarPages a {
  margin-left: 10px;
}

.navbarPages a {
  text-decoration: none;
  color: #A1A1A1;
  font-family: Gotham, sans-serif;
  font-size: 15px;
  align-items: flex-start;
}

.cardIndexDark {
  width: 350px;
  margin: 0 auto;
  background-color:#09294C;
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
}

.cardPagesDark {
  width: 280px;
  margin: 0 auto;
  background-color:#09294C;
  padding: 25px;
  font-size: 16px;
  border-radius: 5px;
}

.cardIndexDarkSignUp {
  width: 500px;
  margin: 0 auto;
  background-color:#09294C;
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
}

.cardIndexWhite {
  width: 35%;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  font-size: 16px;
  border-radius: 21px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.card-content-white {
  color: #000000;
  font-family: 'Gotham', Arial, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-block-end: 15px;
}

.card-content-white h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.cardIndexWhiteSignUp {
  width: 70%;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  font-size: 16px;
  border-radius: 21px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.card-content-IndexWhiteSignUp {
  color: #000000;
  font-family: 'Gotham', Arial, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-block-end: 15px;
}

.cardIndexWhiteSignUp h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.cardWhitePages {
  width: 38%;
  height: 170px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  font-size: 16px;
  border-radius: 21px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content-WhitePages {
  color: #000000;
  font-family: 'Gotham', Arial, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-block-end: 15px;
}

.cardWhitePages h5 {
  margin-top: 10px;
  margin-bottom: 40px;
}

.cardWhitePages a {
  text-decoration: none;
  color: #ffffff;
  font-family: Gotham, sans-serif;
  font-size: 15px;
}

.cardWhiteNodes {
  width: 510px;
  height: 250px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px;
  font-size: 19px;
  border-radius: 21px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  overflow: auto;
}

.cardWhiteNodes:last-child {
  margin-bottom: 0;
}

.card-content-WhiteNodes {
  color: #000000;
  font-family: 'Gotham', Arial, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-block-end: 15px;
}

.cardWhiteNodes h5 {
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-weight: bold;
}

.cardWhiteNodes p {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 3px;
}

.cardWhiteNodes a {
  text-decoration: none;
  color: #ffffff;
  font-family: Gotham, sans-serif;
  margin-bottom: 3px;
  font-size: 17px;
}

.cardWhitePlans {
  width: 45%;
  height: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 15px;
  font-size: 19px;
  border-radius: 21px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 2%;
  text-align: center;
  overflow: auto;
}

.card-content-Plans {
  color: #000000;
  font-family: 'Gotham', Arial, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-block-end: 15px;
}

.cardWhitePlans h5 {
  margin-left: 10px;
  margin-bottom: 1px;
  font-size: 2em;
  font-weight: bold;
  color: #09294C;
}

.cardWhitePlans img {
  width: 20%;
  height: 15%;
  margin-top: 1%;
}

.cardWhitePlansInside {
  width: 90%;
  height: 70%;
  margin: 0 auto;
  background-color: #09294C;
  padding: 10px;
  font-size: 19px;
  border-radius: 21px;
  margin-top: 4%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: auto;
}

.card-content-PlansInside {
  font-family: 'Gotham', Arial, sans-serif;
  font-size: 18px;
  margin-block-end: 15px;
}

.cardWhitePlansInside button {
  padding: 2% 28%;
  background-color: #21E8AA;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  margin-top: 5%;
  cursor: pointer;
}

.cardWhitePlansInsideDescription {
  width: 100%;
  height: 75%;
  font-size: 19px;
  margin-top: 2%;
  text-align: center;
  overflow: auto;
}

.card-content-PlansInsideDescription {
  font-family: 'Gotham', Arial, sans-serif;
  font-size: 18px;
  margin-block-end: 15px;
}

.cardWhitePlansInsideDescription h5 {
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
}

.cardWhitePlansInsideDescription p {
  font-size: 0.9em;
  margin-bottom: 5px;
  color: #ffffff;
}


.cardWhiteProfile {
  width: 750px;
  height: flex;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.cardWhiteProfile button {
  padding: 1% 15%;
  background-color: #21E8AA;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 2%;
  cursor: pointer;
  font-size: 14px;
  margin-left: 30%;
}

.cardWhiteProfile:last-child {
  margin-bottom: 0;
}

.card-content-Profile {
  color: #000000;
  font-family: 'Gotham', Arial, sans-serif;
}

.cardWhiteProfile h5 {
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-weight: bold;
}

.cardWhiteProfile p {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 3px;
  font-size: 13px;
}

.cardWhiteProfile a {
  text-decoration: none;
  color: #21E8AA;
  font-family: Gotham, sans-serif;
  margin-bottom: 3px;
  font-size: 10px;
}

.cardWhiteNodesEmpty {
  width: 450px;
  height: 160px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px;
  font-size: 19px;
  border-radius: 21px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.cardWhiteNodesEmpty:last-child {
  margin-bottom: 0;
}

.card-content-WhiteNodesEmpty {
  color: #000000;
  font-family: 'Gotham', Arial, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-block-end: 15px;
}

.cardWhiteNodesEmpty h5 {
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-weight: bold;
}

.cardWhiteNodesEmpty p {
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 3px;
}

.cardWhiteNodesEmpty a {
  text-decoration: none;
  color: #ffffff;
  font-family: Gotham, sans-serif;
  margin-bottom: 3px;
  font-size: 17px;
}

.cardWhitePopUp {
  position: relative;
  width: 38%;
  height: auto;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 21px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content-WhitePopUp {
  position: fixed;
  color: #000000;
  font-family: 'Gotham', Arial, sans-serif;
  font-size: 18px;
}

.cardWhitePopUp h5 {
  margin-top: 30px;
}

.cardWhitePopUp p {
  margin-top: 1px;
}


.cardWhitePopUp a {
  text-decoration: none;
  color: #ffffff;
  font-family: Gotham, sans-serif;
  font-size: 15px;
}

.fontSigInUp {
  color: white;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #09294C;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fontSigInUp h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }

.fontPages {
  color: white;
  min-height: 30rem;
  width: 280px;
  height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #09294C;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
.fontPages h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.fontNodes {
  color: #000000;
  min-height: 20rem;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 2rem;
  background-color: #F4F4F4;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}
  
.fontNodes h6 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.fontPlans {
  color: #000000;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%rem;
  background-color: #F4F4F4;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
}
  
.fontPlans h6 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.sidebar-link-create-node{
  cursor: pointer;
}

.fontNavBar {
  color: white;
  left: 270px;
  height: 70px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #09294C;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
.fontNavBar h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.transparent-button {
  padding: 2% 36%;
  background-color: #21E8AA;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
  margin-block-end: 20px;
  cursor: pointer;
}

.transparent-button:hover {
  background-color: #00CC8C;
}

.popUp-button {
  padding: 2% 36%;
  background-color: #21E8AA;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  margin-top: 5px;
  margin-block-end: 20px;
  cursor: pointer;
}

.popUp-button:hover {
  background-color: #00CC8C;
}

.nodes-button {
  padding: 4% 10%;
  background-color: #21E8AA;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
  margin-block-end: 20px;
  cursor: pointer;
}

.nodes-button:hover {
  background-color: #00CC8C;
}

.nodes-button-cards {
  padding: 3% 4%;
  background-color: #21E8AA;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 5px;
}

.nodes-button-cards:hover {
  background-color: #00CC8C;
}

.nodes-button-cards-red {
  padding: 3% 3%;
  justify-content: center;
  align-items: center;
  background-color: #DC352A;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 10px;
}

.nodes-button-cards-red:hover {
  background-color: #ad0d05;
}

.nodes-button-cards.white{
  background-color: #ffffff;
  color: #ffffff;
}

.nodes-button-cards-red img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: 1px;
}

.close-popup-button {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: transparent;
  border: none;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.left-section {
  flex: 1;
  background-color: #09294C;
  padding: 20px;
}

.right-section {
  flex: 1;
  background-color: #F4F4F4;
  padding: 20px;
}

.form-signUp {
  max-width: 400px;
  padding: 10px;
  border: 1px solid #F4F4F4;
  border-radius: 5px;
}

.form-group-signUp {
  margin-bottom: 12px;
}

.form-group-signUp label {
  display: block;
  margin-bottom: 1px;
  font-weight: bold;
}

.form-group-signUp input {
  width: 90%;
  padding: 2px;
  border: 1px solid #F4F4F4;
  border-radius: 1px;
}

.form-group-signUp input[type="text"]:focus,
.form-group-signUp input[type="email"]:focus {
  border-color: #21E8AA;
  outline: none;
}

.form-group-signUp input[type="submit"] {
  background-color: #21E8AA;
  color: white;
  cursor: pointer;
}

.form-group-signUp input[type="submit"]:hover {
  border-color: #21E8AA;
}

.form-group-profile {
  width: 95%;
  height: 20%;
  margin-left: 3%;
  font-size: 10px;
  margin-top: 3px;
}

.form-group-profile label {
  display: block;
  font-weight: bold;
}

.form-group-profile input {
  width: 92%;
  padding: 1%;
  border: 1px solid #F4F4F4;
  border-radius: 10px;
}

.form-group-profile input[type="text"]:focus,
.form-group-profile input[type="email"]:focus {
  border-color: #21E8AA;
  outline: none;
}

.form-group-profile input[type="telegram"]:focus {
  border-color: #21E8AA;
  outline: none;
}

.form-group-profile input[type="password"]:focus {
  border-color: #21E8AA;
  outline: none;
}

.form-group-profile input[type="submit"] {
  background-color: #21E8AA;
  color: white;
  cursor: pointer;
}

.form-group-profile input[type="submit"]:hover {
  border-color: #21E8AA;
}

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupContent {
  background-color: #fff;
  padding: 30px;
  text-align: center;
}

.popupContent h2, #popupContent p {
  margin: 0;
}

.closeBtn {
  margin-top: 20px;
}

.alert {
  position: fixed;
  left: 30%;
  width: 38%;
  margin: 0 auto;
  background-color: #D2FFD1;
  padding: 15px;
  font-size: 16px;
  border-radius: 21px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #21E8AA;
  border-radius: 7px;
  background-color: #21E8AA;
  color: #ffffff;
  margin-block-end: 20px;
}

.select select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  appearance: none;
  border: 1px solid #21E8AA;
  border-radius: 7px;
  background-color: #21E8AA;
  color: #ffffff;
}

.select_eth_account {
  padding: 13px;
  font-size: 13.5px;
  border: 1px solid #21E8AA;
  border-radius: 7px;
  background-color: #ffffff;
  color: #000000;
  margin-top: 20px;
  margin-block-end: 10px;
}

.select_eth_account option {
  text-align: center;
}

.iframe-container {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.iframe-container iframe {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  border: none;
}

.iframe-container-default {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.iframe-container-default iframe {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  border: none;
}

.error {
  display: none;
  color: red;
  font-family: 'Gotham', sans-serif;
  font-size: 11px;
}

#scrollableDiv {
  width: 100%;
  overflow-x: 100%;
  overflow-y: auto;
  white-space: nowrap;
}

@media (min-width: 600px) {
  .masthead {
    height: 100vh;
  }
  .fontSigInUp{
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
  .fontSigInUp h1{
    font-size: 5.5rem;
  }
  .fontPages{
    height: 100vh;
  }
  .fontPages h1{
    font-size: 5.5rem;
  }
  .fontNodes{
    height: 90vh;
  }
  .fontNodes h1{
    font-size: 5.5rem;
  }
  .fontPlans{
    height: 91vh;
  }
  .fontPlans h1{
    font-size: 5.5rem;
  }
}